@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply dark:text-slate-200
}

p {
    @apply dark:text-slate-200
}

.record {
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    @apply p-2 bg-red-800
}

.record:hover {
    transform: scale(0.9);
}

@keyframes rec {
    from {transform: scale(0.8);}
    to {transform: scale(1.1)}
}